img{
    border-radius: 50%;
    max-width: 30em;
    max-height: 30em;
    margin-top: 50px;
	object-fit: contain;
}

.div1{

   display: grid;
   place-items: center;
   background-color: rgb(248, 246, 246);
   border-radius: 8px;
	object-fit: contain;
	
}

h1{
    padding-top: 4.60em;
    color: rgb(12, 12, 12);
} 
main{
 display: grid;
 place-items: center;
 background-color: rgb(248, 246, 246);
 margin: 5px;
 border-radius: 8px;
}

body {
	font-size: 20px;
}
footer{
    display: grid;
    place-items: center;
}

